
/*basic reset*/
* {margin: 0; padding: 0;}

/*adding a black bg to the body to make things clearer*/
canvas {display: block;}

#console {
	font-family: courier, monospace;
	color: #fff;
	width:auto;
	margin-left:5px;
	margin-right:auto;
	margin-top:20px;
	font-size:14px;
}

a {
	color: #0bc;
	text-decoration: none;
}

#a {
	color: #0f0;
}

#c {
	color: #0bc;
}

#b {
	color: #ff0096;
}

#k {
    	animation: change 50s;
}

#op{
    	color: #888888
}

@keyframes change {
    	0%  { color:  #0f0; }
    	50% { color:  #0f0; }
    	99% { color: black; }
}
